<div class="container-fluid index-title">
    <div class="container-fluid title-overlay">
        <div class="title valign-wrapper">
            <div class="valign">
              <div class="row ">
                  <div class="col offset-l2 hide-on-small-only  l2 m2"><img src="images/pomodoro-title.png"></div>
                  <div class="col s8">
                      <div class="col s12 tab-title">take-a-break</div>
                      <div class="col s12 tab-subtitle">get more things done now!</div>
                  </div>
              </div>
            </div>
        </div>
    </div>
    <div class="container-fluid mtl">
        <div class="row">
            <div class="col l4 offset-s1">
                <div class="col infobox l12">
                    
                </div>
            </div>     
            <div class="col l4 offset-s2">
                <div class="col signinbox l12">
                    <div class="col l12 center-align si-title">Sign in</div>
                    <div>
                        <form class="col s12 si-form">
                            <div class="row">
                            <div class="input-field col s12">
                                 <i class="material-icons prefix">perm_identity</i>
                                 <input id="si_username" type="text" >
                                 <label for="si_username">Username</label>
                            </div>                        
                            </div>
                            <div class="row">
                            <div class="input-field col s12">
                                 <i class="material-icons prefix">lock_outline</i>
                                 <input id="si_password" type="password" >
                                 <label for="si_password">Password</label>
                            </div>                        
                            </div>
                            <div class="center-align">
                                <a class="forgot" href="#">Forgot password?</a>
                            </div>
                            <div class="center-align si-button">
                            <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">trending_flat</i></a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>     
        </div>
    </div>
</div>